* {
    font-family: roboto;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
    min-width: 1170px;
}

header {
    width: 100%;
    height: 80px;

}

.logo{
    display: inline-block;
    font-family: raleway;
    font-size: 26px;
    color: #2196F3;
    line-height: 80px;
}

.logo span {
    color: #000;
}

header li {
    display: inline-block;
    
}

.header-menu {
   font-size: 1rem;
   display: inline-block;
   line-height: 80px;

}

.header-menu ul {
    margin-top: 0;
}

.header-menu a {
    padding-left: 48px;
}

.header-menu a:visited {
    color:#000;
}

.header-menu a:hover {
    color: #2196F3;
 }

a {
    text-decoration: none;
}

.mail {
    font-size: 1rem; 
    color: #757575;
    display: inline-block;  
    line-height: 80px;
    margin-left: 300px;

}

.mail:hover {
    color: #2196F3;
    
}

.telephone {
    font-size: 1rem;
    color: #757575;
    display: inline-block;
    padding-left: 50px;

}

.telephone:hover {
    color:#2196F3;
}

.order {
    background-color: #2F303A;
    color: white;
    width: 100%;
    height: 600px;
    text-align: center;

}

.order h1 {
    text-transform: uppercase;
    width: 570px;
    margin: 0 auto;
    padding-top: 220px;
    line-height: 136%;
    font-size: 44px;

}

.order button {
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    border: 0ch;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    margin-top: 30px;
}

.order button:hover {
    cursor: pointer;
}

.advantage{
    margin-top: 94px;
}
.advantage div{
    width: 270px;
    display: inline-block;
}

.advantage div dt {
    font-size: 1 rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.advantage div dd {
    font-size: 1 rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;

}

.advantage div:nth-child(n+2){
    margin-left: 25px;
}

.advantage div dd{
    margin: 0;
}

.

