:root {
  --main-text-font: roboto;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --secondary-accent-color: #2f303a;
  --white-color: #ffffff;
}

body {
  font-family: var(--main-text-font), sans-serif;
  color: var(--main-text-color);
}

.link {
  text-decoration: none;
}

.list {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* !!!INDEX.HTML!!! */

.logo {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  display: inline-block;
  font-family: raleway;
  color: var(--accent-color);
  margin-left: 48px;
}

.logo-second-part {
  color: var(--main-text-color);
}

.header-menu {
  font-size: 14px;
  line-height: 1.15;
  font-weight: 500;
}

.nav-main .link {
  color: var(--main-text-color);
}

.nav-main .item:focus,
.nav-main .item:hover {
  color: var(--accent-color);
}

.mail {
  font-size: 14px;
  line-height: 1.15;
  font-weight: 500;
  color: var(--secondary-text-color);
}
.mail:focus,
.mail:hover {
  color: var(--accent-color);
}

.telephone {
  font-size: 14px;
  line-height: 1.15;
  font-weight: 500;
  color: var(--secondary-text-color);
}
.telephone:focus,
.telephone:hover {
  color: var(--accent-color);
}

/* End of header */ /* End of header */ /* End of header */ /* End of header */ /* End of header */ /* End of header */ /* End of header */

/* !!!START OF MAIN SECTION!!!! */
.hero {
  color: var(--white-color);
  background-color: var(--secondary-accent-color);
  text-align: center;
}

.hero-heading {
  line-height: 1.35;
  font-size: 44px;
  text-transform: uppercase;
}

.hero-button {
  font-family: var(--main-text-font), sans-serif;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.hero-button:focus,
.hero-button:hover {
  cursor: pointer;
  background-color: #188ce8;
}
/* end of order */ /* end of order */ /* end of order */ /* end of order */ /* end of order */ /* end of order */ /* end of order */
.advantage {
  margin-top: 94px;
  margin: 0 auto;
  text-align: center;
}

.advantage .item {
  text-align: left;
}

.advantage-titles {
  font-size: 14px;
  line-height: 1.17;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.advantage-descrition {
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
}

/* end of advantage */ /* end of advantage */ /* end of advantage */ /* end of advantage */ /* end of advantage */ /* end of advantage */

.about {
  text-align: center;
  font-size: 0px;
}

.about-heading {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
}

.about .item {
  width: 370px;
  height: 294px;
  font-size: 0;
  margin-left: 30px;
  display: inline-block;
}


/* end of discription */ /* end of discription */ /* end of discription */ /* end of discription */ /* end of discription */ /* end of discription */

.team {
  text-align: center;
  font-size: 0px;
  background-color: #f5f4fa;
}

.team .item {
  display: inline-block;
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}

.team-heading {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
}

.team-names {
  font-size: 16px;
  line-height: 1.17;
  font-weight: 500;
}

.job-title {
  font-size: 16px;
  line-height: 1.17;
  color: var(--secondary-text-color);
}

/* end of team */ /* end of team */ /* end of team */ /* end of team */ /* end of team */ /* end of team */ /* end of team */ /* end of team */

/* !!!END OF MAIN SECTION!!!! */

footer {
  height: 252px;
  background-color: var(--secondary-accent-color);
  color: var(--white-color);
  margin-top: 94px;
}

footer .logo {
  margin-top: 60px;
  margin-bottom: 20px;
}

footer span {
  color: var(--white-color);
}

a[href="https://maps.app.goo.gl/7ZDGBoMSbiY7wvF3A?g_st=ic"]
{
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.7;
}

footer .mail {
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
  margin-top: 9px;
  margin-left: 0;
  margin-bottom: 9px;
  display: block;
  color: var(--footer-text-color);
}

footer .telephone {
  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-text-color);
  margin-left: 0;
}

/* !!!INDEX.HTML END!!! */

/* !!!PORTFOLIO.HTML!!! */

/* Filter section */ /* Filter section */
.filter {
  display: block;
  font-size: 0px;
  width: 554px;
  margin: 0 auto;
  margin-top: 94px;
  padding: 0;
}

.filter li {
  display: inline-block;
  margin-left: 8px;
}

.filter li:first-child {
  margin-left: 0px;
}

.filter button {
  font-family: var(--main-text-font);
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
}
.filter button:focus,
.filter button:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

/* example section */ /* example section */

.example {
  margin-top: 34px;
}

.example-list li {
  display: inline-block;
  width: 31%;
  margin-left: 36.5px;
  margin-bottom: 30px;
  border: solid 1px #eeeeee;
}

.example-list img {
  width: 100%;
}

.example-list li:nth-child(3n + 1) {
  margin-left: 0;
  color: red;
}

.example-list h2 {
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
  color: var(--main-text-color);
  padding-left: 24px;
  margin-top: 23px;
  margin-bottom: 0;
}

.example-list p {
  font-size: 16px;
  line-height: 36px;
  color: var(--secondary-text-color);
  padding-left: 24px;
  margin-top: 0px;
}

.current {
  color: var(--accent-color);
}
